*{
    margin: 0%;
    padding: 0%;
}

.main_page{
    width: 100%;
    height: 109vh;
    background-image: url('../css/others/sunbg.jpg');
    background-position:center;
    background-size: cover;

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width:200px;
    float: left;
    height: 70px;
}
.logo{
    color:rgb(0, 0, 0);
    font-size: 25px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    padding-left:5%;
    float: left;
    padding-top: 10%;
    width: 1000px;
}
.logo:hover{
    color: whitesmoke;
}
.menu_selector{
    width: 400px;
    float: left;
    height: 70px;

}
.menu_selector ul{
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
}
.menu_selector ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transition: 0.4s ease-in-out;
}
.menu_selector ul li a:hover{
    color: rgb(152, 38, 0);

}
.menu_selector ul li a:active{
    color:whitesmoke;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.main_page ul li{
    list-style:none;
    margin-left: 65px;
    margin-top:20px;
    font-size: 20px;

}
.search_loginpage{
    width: 330px;
    float: right;
    height: 270px;

}
.search_box{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(0, 162, 255);
    margin-top: 10px;
    color: black;
    border-right:none;
    font-size: 20px;
    float: left;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.search_btn{
    width: 100px;
    height: 40px;
    background-color: rgb(0, 162, 255);
    border: 2px solid rgb(0, 162, 225);
    margin-top: 10px;
    color:whitesmoke;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.search_btn:hover{
    color: black;
}
.search_box:focus{
    outline:none;
}
.search_btn:focus{
    outline: none;
}
.loginpage_contant{
    width: 1200px;
    height: auto;
    margin:auto;
    font-size: 20px;
    padding-top: 80px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}
.para{
    padding-left: 5px;
    padding-bottom: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
/* .Join_button {
    width: 250px;
    height:40px;
    background-color: rgb(0, 162, 255);
    border-radius: 50px;
    box-shadow: 0px 2px 5px #000000;
    border-style: groove 30px 30px;
    transform-box:var('.Join_button');
}
.Join_button:hover{
    background-color:black;

} */
/* .Join_button a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size:22px;
    font-weight: bold;
    color:black;
}
.Join_button a:hover{
    color: whitesmoke;
} */
.Join_btn{
    width: 250px;
    height: 40px;
    background-color: rgb(0, 162, 255);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    font-size: 22px;
    border-radius: 50px;
    box-shadow: 0px 2px 5px #000000;
    border-style: groove 30px 30px;
    border-radius: 50px;
}

.Join_btn:hover{
    color: white;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    border-color: rgba(186, 102, 0, 0.699);
    box-shadow:0px 0.5px 2px rgb(255, 0, 0) ;

}
.form_reg{
    width: 430px;
    height: 400px;
    background-color:rgba(255, 255, 255, 0.442) ;
    /* background-image: url('../css/others/go.jpg'); */
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%;
    position:absolute;
    left:750px;
    top:45px;
}
.anchor_login1{
    text-decoration: none;
    list-style: none;
    position: absolute;
    top: 275px;
    left:165px;
    font-size: 12px;
}
.sign_up{
    text-decoration: none;
    list-style: none;
    position: absolute;
    top: 295px;
    left:180px;
    font-size: 17px;
}
.sign_up:hover{
    color: blue;
}
.sign_up:active{
    box-shadow:0px 2px 0px #000000;
}
.anchor_login1:hover{
    color: blue;
}

.login_btn{
    width:100px;
    height: 40px;
    background-color: rgb(0, 234, 97);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    box-shadow: 0px 1px 5px black;
    position: absolute;
    top:230px;
    left:160px;
}
#Enter_email{
    width: 300px;
    height: 25px;
    top:120px;
    left:80px;
    position: absolute;
    background: transparent;
    border-style: none;
    box-shadow: 0px 2px 0px black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700;
}
#Enter_email:focus{
    outline: none;
}
#Enter_email:hover{
    box-sizing: none;
    box-shadow: 0px 2px 0px black;
    border-style: none;
    border-left:none;
}
#Enter_password{
    width: 300px;
    height: 25px;
    top:170px;
    left:80px;
    position: absolute;
    border-style: none;
    background: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700;
    box-shadow: 0px 2px 0px black;
}
#Enter_password:focus{
    outline: none;
}
#Enter_password:hover{
    border-style:none;
    box-shadow: 0px 2px 0px black;

}
::placeholder:hover{
    font-size: 10px;
}
.Login_here_font{
    top:50px;
    left:140px;
    position: absolute;
    color: rgb(0, 0, 0);
}
.login_btn:hover{
    border-color: rgb(77, 77, 77);
    box-shadow: 0px 0.5px 2px rgb(235, 141, 26);
}
.social_meida_icon{
    top:300px;
    left:20px;
    position: relative;
}
.social_meida_icon img{
    padding-left:10px ;
    list-style: none;
    box-shadow: #000000;
    padding:2%;
}
.social_meida_icon img:hover{
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.538);
    border-style:none;
    list-style: none;
}
.social_meida_icon:focus{
    outline: none;
}
.Login_with{
    text-decoration: none;
    list-style: none;
    position: absolute;
    top: 325px;
    left:100px;
    font-size: 17px;
    color: rgb(110, 110, 110);
    font-weight: 600;
}
